@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

$grape: #81197B;
$darkgrape: #3B002E;
$lightgrape: #bf9cc6;
$pink: #ffc5ff;
$darkpink: #C23BAA;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder { color: $color; opacity: 1 !important; }
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder {color: $color; }
    &:-ms-input-placeholder {color: $color; }
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}

body {
    font: 16px 'Raleway';
    background: $darkgrape url(../images/background.png) center top no-repeat;
}
html, body { height: 100%; }
.container {
    position: relative;
    min-height: 100%;
    padding: 20px 0;
    padding-bottom: 50px;
    overflow: auto;
    box-sizing: border-box;
    header {
        nav {
            position: fixed;
            top: 0;
            padding-left: 70px;
            width: 100%;
            height: 100px;
            background: url(../images/nav-bg.png) repeat-x;
            line-height: 50px;
            color: #ffc5ff;
            text-shadow: 0 1px 2px $darkgrape, 0 -1px 1px #fff;
            font-size: 24px;
            z-index: 4;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    height: 58px;
                    padding: 5px 10px 0;
                    a, button {
                        display: block;
                        height: 100%;
                        color: $pink;
                        text-shadow: 0 1px 2px $darkgrape, 0 -1px 1px #fff;
                        text-decoration: none;
                    }
                    button {
                        border: 0;
                        background: none;
                    }
                    &:hover {
                        a, button {
                            color: $darkgrape;
                            text-shadow: 0 2px 1px #fff, 0 1px 4px $grape;
                        }
                        background: url(../images/nav-hover.jpg) top repeat-x;
                    }
                    &:active {
                        background: url(../images/nav-active.jpg) top repeat-x;
                    }
                }
            }
            .hamburger {
                position: relative;
                float: right;
                right: 70px;
                width: 66px;
                padding: 0;
                outline: 0;
                .hamburger-box {
                    top: 8px;
                    .hamburger-inner,
                    .hamburger-inner::before,
                    .hamburger-inner::after {
                        background-color: $pink;
                        @include box-shadow(0 1px 2px rgba(0, 0, 0, .5));
                    }
                }
                &:hover {
                    background: url(../images/nav-hover.jpg) top repeat-x;
                    opacity: 1;
                    .hamburger-inner,
                    .hamburger-inner::before,
                    .hamburger-inner::after {
                        background-color: $darkgrape;
                        @include box-shadow(0 1px 2px rgba(0, 0, 0, .5));
                    }
                }
            }
            .new {
                position: relative;;
                float: left;
                padding: 0 10px;
                height: 58px;
                outline: 0;
                z-index: 1;
                input {
                    cursor: pointer;
                    position: absolute;
                    box-sizing: border-box;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 60px;
                    opacity: 0;
                    border: 0;
                    outline: 0;
                    padding: 0 10px;
                    @include transition(all 0.5s ease);
                }
                .sep {
                    position: relative;
                    left: 12px;
                    float: none;
                    vertical-align: middle;
                    @include transition(all 0.5s ease);
                }
                &:hover {
                    color: $darkgrape;
                    text-shadow: 0 2px 1px #fff, 0 1px 4px $grape;
                    background: url(../images/nav-hover.jpg) top repeat-x;
                }
                &:focus, &.active {
                    input {
                        width: 420px;
                        opacity: 1;
                    }
                    .sep {
                        left: 232px;
                    }
                }
                &:active {
                    background: url(../images/nav-active.jpg) top repeat-x;
                }
            }
            .login {
                position: relative;
                right: 70px;
                float: right;
                .sep {
                    vertical-align: middle;
                }
            }
            .sep {
                display: inline-block;
                float: left;
                width: 2px;
                height: 60px;
                background: url(../images/nav-sep.png) no-repeat;
            }
        }
        .logo {
            display: block;
            height: 0;
            margin: auto;
            overflow: hidden;
            &.typeface {
                position: relative;
                margin-bottom: 1em;
                width: 615px;
                max-width: 80%;
                padding-top: 182px;
                background: url(../images/logo-typeface.png) center / 100% no-repeat;
                z-index: 3;
            }
            &.graphic {
                position: fixed;
                left: 0;
                top: 2px;
                width: 54px;
                padding: 0 7px;
                padding-top: 54px;
                margin: 0;
                background: url(../images/logo-graphic.png) center/54px 50px no-repeat;
                z-index: 5;
            }
        }
        .spacer { height: 120px; }
    }
    nav.mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -385px;
        width: 375px;
        max-width: 75%;
        background: url(../images/mobile-nav-bg.png) center / 100% 100% no-repeat;
        padding-top: 60px;
        z-index: 4;
        @include transition(all 0.5s ease);
        ul {
            margin: 0;
            padding: 0;
            padding-top: 40px;
            list-style: none;
            li {
                height: 58px;
                padding: 0;
                a, button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: $pink;
                    text-align: left;
                    text-decoration: none;
                    text-shadow: 0 1px 2px $darkgrape, 0 -1px 1px #fff;
                    padding: 20px;
                    box-sizing: border-box;
                    outline: 0;
                }
                button {
                    border: 0;
                    background: none;
                }
                &:hover {
                    background: url(../images/nav-hover.jpg) top repeat-x;
                    border-top: 1px solid $darkpink;
                    border-bottom: 1px solid white;
                    @include box-shadow(0 0 15px $darkgrape);
                    a, button {
                        color: $darkgrape;
                        text-shadow: 0 2px 1px #fff, 0 1px 4px $grape;
                    }
                }
                &:active {
                    background: url(../images/nav-active.jpg) top repeat-x;
                }
            }
        }
        &.active {
            right: 0;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: -9px;
            top: 0;
            bottom: 0;
            width: 9px;
            background: url(../images/mobile-nav-border.png) repeat-y;
        }
    }
    main {
        h1 {
            margin: 0;
            padding: 0.75em;
        }
        .splash-content {
            overflow: auto;
            padding: 0 20px;
            background: white;
        }
        .display {
            position: relative;
            background: white;
            height: 4em;
            z-index: 1;
            .sep {
                position: absolute;
                display: block;
                left: 1em;
                right: 1em;
                bottom: -34px;
                height: 38px;
                background: url(../images/sep-below.png) 0/100% 38px no-repeat;
            }
        }
        .profile {
            margin: 20px;
            .content {
                background: white;
                border: 1px solid $darkgrape;
                padding: 20px;
                @include box-shadow(0 0 5px black);
                @include border-radius(10px);
            }
        }
        .reglogin {
            position: relative;
            width: 61.8%;
            max-width: 500px;
            margin: 40px auto;
            background: rgba(194, 59, 170, 0.2);
            border: 1px solid $darkgrape;
            padding: 20px;
            @include box-shadow(0 0 5px rgba(194, 59, 170, 0.725));
            @include border-radius(15px);
            button {
                color: $darkpink;
                background: $darkgrape;
                border: 1px solid rgba(194, 59, 170, .5);
                @include border-radius(4px);
                @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
                @include transition(all 0.35s ease);
                &:hover {
                    color: $darkgrape;
                    background: $darkpink;
                    border: 1px solid lighten($darkpink, 25%);
                    @include filter(drop-shadow(0 0 4px darken($grape, 20%)));
                }
            }
            input {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 0.5em;
                outline: none;
                border: 1px solid black;
                padding: 2px 10px;
                color: $darkgrape;
                font-size: 28px;
                @include border-radius(5px);
                @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.45));
                @include transition(all 0.25s ease);
                &.password {
                    width: 61.8%;
                }
                &:hover {
                    @include filter(drop-shadow(0 0 5px $pink));
                }
                &:focus {
                    @include filter(drop-shadow(0 0 12px $darkgrape));
                }
            }
        }
        .search {
            position: relative;
            box-sizing: border-box;
            height: 300px;
            padding-top: 120px;
            background: url(../images/curve.png) 0/100% 420px no-repeat;
            text-align: center;
            z-index: 2;
            button {
                font-size: 26px;
                padding: 2px 10px 5px;
                background: $darkgrape;
                border: 1px solid $lightgrape;
                color: $pink;
                text-shadow: 0 1px 2px #000;
                outline: none;
                @include border-radius(6px);
                @include box-shadow(0 3px 7px -4px black);
                @include transition(all 0.2s ease);
                &:hover {
                    background: $grape;
                    text-shadow: 0 0 4px #fff;
                }
                &:active {
                    @include transition(none);
                    background: $lightgrape;
                }
            }
            input {
                text-align: center;
                font: 44px 'Raleway';
                color: $lightgrape;
                text-shadow: 0 2px 3px $darkgrape;
                line-height: 1.3em;
                border: 1px solid $grape;
                background: rgba(255, 255, 255, 0.75);
                outline: 0;
                padding-bottom: 5px;
                margin-bottom: 0.75em;
                @include box-shadow(0 3px 10px -5px $darkgrape);
                @include border-radius(10px);
                @include placeholder(#ebc0f3);
                @include transition(all 0.2s ease);
                &:hover {
                    background: #fff;
                }
                &:focus {
                    @include filter(drop-shadow(0 0 4px $grape));
                    border-width: 2px;
                }
            }
            .sep {
                position: absolute;
                display: block;
                left: 1em;
                right: 1em;
                bottom: -4px;
                height: 38px;
                background: url(../images/sep-above.png) 0/100% 38px no-repeat;
            }
        }
        .settings {
            position: fixed;
            height: 100%;
            background: url(../images/background-dark.png) center/cover no-repeat;
            top: 0;
            color: white;
            width: 100%;
            text-align: center;
        }
        .vines {
            position: absolute;
            top: 0;
            width: 100%;
            height: 800px;
            background: url(../images/grapevines.png) top center no-repeat;
            z-index: -1;
        }
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: 0 20px;
        color: $lightgrape;
        border-top: 1px solid rgba(194, 59, 170, 0.555);
        @include box-shadow(0 -1px 5px rgba(0, 0, 0, 0.45));
    }
    &:not(.home) {
        header .graphic.logo {
            @include filter(drop-shadow(0 2px 3px black));
            &:hover {
                @include filter(drop-shadow(0 0 5px $lightgrape));
                @include transition(all 0.4s ease);
            }
        }
    }
    &.home {
        header {
            nav {
                top: -169px;
                padding: 0;
                @include transition(all 0.675s ease);
            }
            .graphic.logo {
                top: 3em;
                left: 50%;
                margin-left: -185px;
                width: 370px;
                padding-top: 344px;
                background: url(../images/logo-graphic.png) center/370px 344px no-repeat;
                @include transition(all 1.25s ease);
            }
            .typeface.logo { margin-bottom: -5em; }
            .spacer {
                height: 370px;
                @include transition(all 1.25s ease);
            }
        }
        nav.mobile {
            right: -385px;
        }
        &.scrolled {
            header nav {
                top: 0;
                padding-left: 70px;
            }
            header .graphic.logo {
                width: 54px;
                padding: 0 7px;
                padding-top: 54px;
                left: 0;
                top: 2px;
                margin: 0;
                background-size: 54px 50px;
                @include filter(drop-shadow(0 2px 3px black));
                &:hover {
                    @include filter(drop-shadow(0 0 5px $lightgrape));
                    @include transition(all 0.4s ease);
                }
            }
            header .spacer {
                height: 100px;
            }
            nav.mobile.active {
                right: 0;
            }
        }
    }
}

@import 'screen';
