<section class="create page">
    <h1 class="title">Create a New Campaign</h1>
    <h2 class="sub title" style="margin-bottom: 1em;">{{ vm.searchTerm }}</h2>
    <div id="char" class="camp_container content">
        <span class="loading"></span>
        <div class="add_div" style="display: none;">
            <button name="addCamp" ng-click="vm.selectCampaigns()">Add to Existing Campaign</button>
            <button ng-click="vm.newCampform()">Add To New Campaign</button>
            <div class="selectCampdiv">
                <form ng-show="vm.campaign && !vm.showForm">
                    <select ng-show="vm.campaign" ng-model="campId" >
                        <option ng-show="vm.campaign" ng-repeat="camp in vm.campaign" value="{{camp.id}}">{{camp.title}}</option>
                    </select>
                    <button ng-click="vm.sendGrape(vm.analysisArray, campId)">Add</button>
                </form>
                <form ng-show="vm.showForm">
                    <input type="text" name="" ng-model="newCampobj.title" placeholder="Title" required="">
                    <textarea ng-model="newCampobj.desc" placeholder="Description" required=""></textarea>
                    <button ng-click="vm.sendTonewCamp(newCampobj.title,newCampobj.desc)">Add</button>
                </form>
            </div>
        </div>
    </div>
</section>
