<section class="vines"></section>
<section class="search">
    <form>
        <input type="text" placeholder="enter #topic"><br>
        <button>get the grapes</button>
    </form>
    <span class="sep"></span>
</section>
<section class="display"><span class="sep"></span></section>
<section class="splash-content">
    <h1>Welcome to GrapeVine</h1>
    <p>Use our app to see the light in which people are mentioning your brand, company, or favourite artist.</p>
    <h3>About GrapeVine</h3>
    <p>Have you ever wanted an easy way to know what people are saying and thinking about your new product? GrapeVine provides an easy solution that will track whether the feedback you get for a particular buzzword is positive or negative.</p>
    <h3>How to use GrapeVine</h3>
    <ol>
        <li>Enter a keyword or buzzword to search.</li>
        <li>See how many good grapes you get for your query vs. how many bad grapes there are.</li>
        <li>Add the buzzword to your campaigns to keep track of what people are saying.</li>
    </ol>
</section>
