<div class="display-for-mobile">
    <nav class="mobile">
        <ul>
            <li><a ui-sref=".home">Home</a></li>
            <li ng-show="vm.loggedIn"><a ui-sref=".profile">My Campaigns</a></li>
            <li><a ui-sref=".create">New Campaign</a></li>
            <li ng-show="vm.loggedIn"><a class="log-out" ui-sref=".home">Log Out</a></li>
            <li ng-hide="vm.loggedIn"><a ui-sref=".login">Log In</a></li>
            <li ng-hide="vm.loggedIn"><a ui-sref=".register">Register</a></li>
        </ul>
    </nav>
</div>
<header>
    <nav class="main">
        <span class="sep"></span>
        <div class="new" tabindex="0">
            <span>New Campaign</span>
            
            <input type="text" placeholder="enter #topic" ng-model="vm.searchTerm">
            
            <span class="sep"></span>
        </div>
        <div class="user login" ng-show="vm.loggedIn">
            <span class="sep"></span>
            <a ui-sref=".profile">My Campaigns</a>
            <span class="sep"></span>
            <button class="log-out">Log Out</button>
        </div>
        <div class="guest login" ng-hide="vm.loggedIn">
            <a ui-sref=".login">Log In</a> |
            <a ui-sref=".register">Register</a>
        </div>
    </nav>
    <section class="spacer"></section>
    <a ui-sref=".home" class="graphic logo">GrapeVine</a>
    <a ui-sref=".home" class="typeface logo">GrapeVine</a>
</header>
<main ui-view></main>
<footer class="footer">
    <div class="content">
        <p>&copy; 2016 | GrapeVine.</p>
    </div>
</footer>
