<main>
    <section class="settings">
        <h1>Welcome, {{ vm.user.firstname || vm.user.email }}!</h1>
        <form ng-submit="vm.update()">
            <div>
                <input type="text" placeholder="First name" ng-model="vm.user.firstname">
                <input type="text" placeholder="Last name" ng-model="vm.user.lasname">
            </div>
            <div><input type="text" placeholder="Email" ng-model="vm.user.email"></div>
            <div><input type="text" placeholder="Password" ng-model="vm.user.password"></div>
            <div><input type="text" placeholder="Verify password"></div>
            <div>
                <label for="#public">Public profile</label>
                <input type="checkbox" id="public" ng-model="vm.user.public">
            </div>
            <div><input type="submit" value="save settings"></div>
        </form>
        <div class="content">
        </div>
    </section>
</main>
